@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .section-header {
  @apply text-3xl font-bold;
  }
  .section{
  @apply flex flex-col gap-8 md:mt-20 max-w-full;
  }
  h1, h2, h3, h4, h5, h6 { 
   @apply font-mono;
  }
  body {
    @apply text-justify
  }
}

/* hide audio controls */
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-enclousure{  display: none;}


audio {
  width: 100px;
  height: 34px; /* Small height for the controls */
  padding: 0;
  margin: 0;
}

@keyframes shrinkImage {
  from {
      height: 100vh;
      opacity: 1;
  }
  to {
      height: 200px;
      opacity: 1;
  }
}

.animate-shrink {
  animation: shrinkImage 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  70% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}


.animate-slide-in {
  animation: slide-in 1.4s ease-out forwards;
} 

@keyframes fadeIn {
  0% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 1.5s ease-in forwards;
}
