@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .section-header {
  @apply text-3xl font-bold;
  }
  .section{
  @apply flex flex-col gap-8 md:mt-20 max-w-full;
  }
  h1, h2, h3, h4, h5, h6 { 
   @apply font-mono;
  }
  body {
    @apply text-justify
  }
}

/*  */
/* audio controls */
/*  */

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-enclousure{  display: none;}


audio {
  width: 100px;
  height: 34px; /* Small height for the controls */
  padding: 0;
  margin: 0;
}

/*  */
/* animations */
/*  */

@keyframes slide-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-slide-from-right {
  animation: slide-from-right 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
} 

@keyframes fadeIn {
  0% { opacity: 0; }
  99% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in forwards;
}

@keyframes logo-fade-in {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}

.animate-logo-fade-in {
  animation: logo-fade-in var(--animation-delay) ease-in-out backwards;
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  80% {
    opacity: .5;
  }
  100% {
    transform: translateY(0);
    opacity: .5;
  }
}

.animate-logo-slide-from-top {
  animation: slide-from-top var(--animation-delay) cubic-bezier(0.4, 0, 0.2, 1)  forwards;
}

